body {
	background-color: black;
}

#theBlack {
	background-color: black;
	width: 100%;
	height: 100vh;
	position: relative;
}

#theBlack div {
	color: #202020;
	font-size: 50px;
	/* height: 100vh;*/
	position: absolute;
	top: 50vh;
	left: 50%;
}

.dot {
	width: 10px;
	height: 10px;
	background-color: white;
	position: absolute;
}
